<div class="container">
  <h1>
    <%= @article.title %>
    <small>
      <%= link_to '🖊', edit_article_path %>
      <%= link_to '🚮', @article, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>
    </small>
  </h1>
  <p><%= @article.content %></p>
</div>